// tzedcmpd.rc : Defines the resources for the Compiler Specification Dialog
//UPARRUP BITMAP "UPARR-UP.BMP"
//UPARRDN BITMAP "UPARR-DN.BMP"
//UPARRFC BITMAP "UPARR-FC.BMP"
//DNARRUP BITMAP "DNARR-UP.BMP"
//DNARRDN BITMAP "DNARR-DN.BMP"
//DNARRFC BITMAP "DNARR-FC.BMP"
   1  BITMAP "UPARR-UP.BMP"
   2  BITMAP "UPARR-DN.BMP"
   3  BITMAP "UPARR-FC.BMP"
   4  BITMAP "DNARR-UP.BMP"
   5  BITMAP "DNARR-DN.BMP"
   6  BITMAP "DNARR-FC.BMP"
