// tzxsltdd.rc : Defines the resources for the Painter dialog.

TZXSLTDD ICON TZXSLTDD.ICO

//OPTLFTUP  BITMAP OPTLFTUP.BMP
//OPTLFTDN  BITMAP OPTLFTDN.BMP
//OPTLFTFO  BITMAP OPTLFTFO.BMP
//OPTRGTUP  BITMAP OPTRGTUP.BMP
//OPTRGTDN  BITMAP OPTRGTDN.BMP
//OPTRGTFO  BITMAP OPTRGTFO.BMP
//OPTDWNUP  BITMAP OPTDWNUP.BMP
//OPTDWNDN  BITMAP OPTDWNDN.BMP
//OPTDWNFO  BITMAP OPTDWNFO.BMP
//OPTUPUP   BITMAP OPTUPUP.BMP
//OPTUPDN   BITMAP OPTUPDN.BMP
//OPTUPFO   BITMAP OPTUPFO.BMP
    1 BITMAP OPTLFTUP.BMP
    2 BITMAP OPTLFTDN.BMP
    3 BITMAP OPTLFTFO.BMP
    4 BITMAP OPTRGTUP.BMP
    5 BITMAP OPTRGTDN.BMP
    6 BITMAP OPTRGTFO.BMP
    7 BITMAP OPTDWNUP.BMP
    8 BITMAP OPTDWNDN.BMP
    9 BITMAP OPTDWNFO.BMP
   10 BITMAP OPTUPUP.BMP
   11 BITMAP OPTUPDN.BMP
   12 BITMAP OPTUPFO.BMP
  100 BITMAP PaintBk.bmp
