// tzzmaind.rc : Defines the resources for the main dialog
TZZMAIND ICON KZZEIDON.ICO
KZZEIDON ICON KZZEIDON.ICO
TZEREMDD ICON TZEREMDD.ICO
TZDMUPDD ICON TZDMUPDD.ICO
TZTEUPDD ICON TZTEUPDD.ICO
TZZOLODD ICON TZZOLODD.ICO
TZPNTRAD ICON TZPNTRAD.ICO
TZPEUPDD ICON TZPEUPDD.ICO
TZOBRWAD ICON TZOBRWAD.ICO
TZOPUPDD ICON TZOPUPDD.ICO
TZOPHDRD ICON TZOPHDRD.ICO
TZEDUPDD ICON TZEDUPDD.ICO
TZVSXCAD ICON TZVSXCAD.ICO
TZCMLPLD ICON TZCMLPLD.ICO
TZCMCPLD ICON TZCMCPLD.ICO
TZRPUPDD ICON TZRPUPDD.ICO
